.container{
    width: 85%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    /* margin: 3rem; */
    margin-top: 9rem;
    
    float: left;
}
.body{
    background-color: #f0f8ff;
}
.mat-card{
    width: 85%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    background: white;
    margin-top: 5rem;
    overflow: hidden;
    text-align: center;
}
.ck-toolbar {
    background: blue;
    padding: 0 ;
    border: 0px none;
}
.row-presence{
    width: 65vw;
    /* margin-right: 30%; */
    border: none;
    border-bottom: none;
    box-shadow: 0 1px 0 0 hsl(0deg 0% 77%);
    background: none;
    margin-bottom: 5rem;

}
.sidebar {
    padding: 0 16px;
    /* position: relative; */
    
    font-size: 20px;
    text-align: left;
    background: white;
    border: none;
    border-left: 0;
    border-top: 0;
    overflow: hidden;
    min-height: 100%;
    box-shadow: -1px 0 0 0 hsl(0deg 0% 77%);
    
}
.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border-color:none !important;
}
.ck.ck-editor__main>.ck-editor__editable.ck-focused {
    border-color:none;
}
.root{
    --ck-color-base-border: #c4c4c400;
}